/*========== GOOGLE FONTS ========== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*========== CSS VARIEBLE ========== */
:root {
  /*=== COLORS ===*/
  --white-clr: #fff;
  --light-clr: #f8f9fa;
  --light-clr-2: #dad7d7;
  --light-gry-clr: #a4a2a2;
  --dark-clr: #212529;
  --light-blue-clr: #d1f3ff;
  --dark-blue-clr: #0318ff;
  --primary-color: #fe3f40;
  --primary-color-2: #0d6efd;
  --secondary-color: #fd7e14;

  /* === FONT-WEIGHT === */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-bolder: 900;

  /* === LETTER SPACING === */
  --letter-spacing-sm: 1px;
  --letter-spacing-md: 1.25px;

  /* === LINE HEIGHT === */
  --line-height-sm: 1.1;
  --line-height-md: 1.25;
  --line-height-lg: 2;

  /* === BOX SHADOW === */
  --box-shadow-light: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  --box-shadow-dark: 0 0 20px 10px rgba(0, 0, 0, 0.3);

  /* === BACKGROUND  === */
  --liner-gradient-red: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );

  /*=== FONT FAMILY ===*/
  --FF: "Noto Sans", sans-serif;

  /*=== BORDERS ===*/
  --border-radius-sm: 1rem;
  --border-radius-md: 2em;
  --border-radius-lg: 50%;

  /*=== TRANSITION ===*/
  --trnasition-normal: all 400ms ease;
  --trnasition-slow: all 1500s ease;
}
/*========== RESET ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--dark-clr);
  font-weight: var(--fw-normal);
  background-color: var(--white-clr);
  font-family: var(--FF);
}
img {
  display: block;
  width: 100%;
}
input,
textarea,
button {
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  color: var(--dark-clr);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  letter-spacing: normal;
  line-height: var(--line-height-lg);
}
h1,
h2,
h3,
h4 {
  color: var(--dark-clr);
  font-weight: var(--fw-bolder);
  text-transform: capitalize;
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
  margin-bottom: 1rem;
}
h1 {
  font-size: 3.25rem;
}
h2 {
  line-height: var(--line-height-md);
  font-size: 2rem;
}
h3,
h4 {
  font-weight: 700;
}
h3 {
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
}
h4 {
  font-size: 1.25rem;
}
/*========== GOOGLE STYLES ========== */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-pd {
  padding: 6.25rem 0;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.col-6 {
  flex: 1;
}
.btn {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1rem;
  letter-spacing: var(--letter-spacing-sm);
  background-color: var(--primary-color-2);
  padding: 1em 2em;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-medium);
}

.text-blue {
  color: var(--primary-color-2);
}
.text-red {
  color: var(--primary-color);
}
@media screen and (max-width: 992px) {
  .section-center {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .section-center {
    grid-template-columns: 1fr;
  }
}
/*========== HEADER ========== */
#header {
  position: relative;
  background-color: var(--light-clr);
}
.nav {
  justify-content: space-between;
  padding: 1.75rem 0;
}
.logo {
  color: var(--primary-color-2);
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.nav-links {
  gap: 2rem;
}
.scroll-link {
  color: var(--dark-clr);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  letter-spacing: var(--letter-spacing-sm);
}
.scroll-link:hover {
  color: var(--primary-color);
}
.scroll-link.active {
  color: var(--primary-color);
}
/*  === NAV-TOGGLE === */

.nav-toggle {
  display: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
  display: block;
  position: relative;
  background-color: var(--dark-clr);
  width: 30px;
  height: 2px;
  border-radius: 5px;
}
.nav-toggle span::before,
.nav-toggle span::after {
  content: "";
  position: absolute;
  transform-origin: center;
  transition: var(--trnasition-normal);
}
.nav-toggle span::before {
  top: -9px;
}
.nav-toggle span::after {
  top: 9px;
}
.nav-toggle.close span {
  visibility: hidden;
}
.nav-toggle.close span::before,
.nav-toggle.close span::after {
  visibility: visible;
  transform: translateY(9px) rotate(45deg);
}
.nav-toggle.close span::after {
  transform: translateY(-9px) rotate(-45deg);
}
@media screen and (max-width: 992px) {
  .nav-toggle {
    display: flex;
  }
  .links-container {
    position: absolute;
    background-color: var(--light-clr);
    width: 100%;
    top: 100%;
    left: 0;
    transform-origin: top;
    height: 0;
    overflow: hidden;
    transition: var(--trnasition-normal);
  }
  .nav-links {
    all: unset;
  }
  .nav-links li {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid var(--light-clr-2);
  }
}
/*========== HERO ========== */
.wrapper {
  justify-content: space-between;
  gap: 2.5rem;
}
.hero-content {
  animation: slideleft 1.5s 900ms ease;
}
.hero-desc {
  line-height: var(--line-height-lg);
  margin-bottom: 1rem;
}
.hero-showcase {
  justify-content: flex-end;
  animation: slideRight 1.5s 900ms ease;
}
.blob {
  position: relative;
  width: 90%;
  height: 400px;
  overflow: hidden;
  animation: animateBlob 5s infinite;
}
.blob img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes animateBlob {
  0%,
  100% {
    top: 0;
    border-radius: 37% 63% 44% 56% / 34% 47% 53% 66%;
  }
  50% {
    top: 1.5rem;
    border-radius: 54% 46% 63% 37% / 61% 70% 30% 39%;
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    gap: 5rem;
  }
  .hero-content {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .blob {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .hero-content {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .title {
    font-size: 2.75rem;
  }
  .blob {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 540px) {
  .blob {
    width: 350px;
    height: 350px;
  }
}
/*========== ABOUT ========== */
.about {
  background-image: var(--liner-gradient-red);
}
.about .wrapper {
  gap: 5rem;
}
.about-img img {
  width: 100%;
}
.cards {
  grid-template-columns: repeat(2, 1fr);
}
.card {
  align-items: flex-start;
  gap: 1.5rem;
}
.card-icon {
  color: var(--primary-color);
  font-size: 1.75rem;
  background-color: var(--white-clr);
  min-width: 70px;
  min-height: 70px;
  border-radius: var(--border-radius-lg);
}
.card-title {
  color: var(--white-clr);
}
.card-desc {
  color: var(--white-clr);
  line-height: var(--line-height-lg);
}
@media screen and (max-width: 992px) {
  .about {
    background-color: var(--light-clr);
    background-image: none;
  }
  .wrapper {
    flex-direction: column;
  }
  .cards {
    order: 1;
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 500px;
    background-image: var(--liner-gradient-red);
    padding: 2rem;
    border-radius: var(--border-radius-sm);
  }
  .about-img {
    order: 2;
  }
}

/*========== SERVICES ========== */
.services-wrapper {
  gap: 2.5rem;
}
.section-title {
  padding-right: 2rem;
  margin-bottom: 1.5rem;
}
.services-description {
  margin-bottom: 5rem;
}
.progress-div {
  margin-bottom: 1.5rem;
}
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: var(--light-clr);
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }
  .services-description {
    text-align: center;
  }
}

/*========== PORTFOLIO ========== */
.portfolio .section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto 7rem auto;
}
.portfolio-item {
  position: relative;
}
.hidden-content,
.visible-content {
  border-radius: 1.5rem;
  transition: var(--trnasition-normal);
}
.hidden-content {
  position: absolute;
  color: var(--white-clr);
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1.5rem;
  z-index: -1;
}
.hidden-content h4 {
  color: var(--white-clr);
}
.visible-content {
  background-color: var(--white-clr);
  box-shadow: var(--box-shadow-light);
  padding: 50px;
  z-index: 9;
}
.visible-content img {
  width: 100px;
}
.portfolio-item:hover .hidden-content {
  z-index: 1;
  transform: translateY(-45%);
}
.portfolio-item:hover .visible-content {
  z-index: 9;
  transform: translateY(45%);
}
@media screen and (max-width: 768px) {
  .portfolio .section-title {
    width: 80%;
  }
}
/*========== BLOG ========== */
.header-title .section-title {
  width: 50%;
}
.header-img img {
  width: 50%;
  transform: translateX(100%);
}
.blogs {
  align-items: flex-start;
  gap: 2.5rem;
}
.blog-showcase-img {
  position: relative;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  box-shadow: var(--box-shadow-medium);
}
.blog-showcase-img img {
  width: 100%;
  max-height: 470px;
  object-fit: cover;
}
.blog-showcase-content {
  position: relative;
  padding: 2.5rem;
  background-color: var(--white-clr);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-medium);
  width: 85%;
  top: -5rem;
}
.blog-showcase-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}
.blog-post-items li {
  margin-bottom: 2rem;
}
.blog-post-item {
  align-items: initial;
  gap: 2rem;
}
.blog-showcase-content i,
.blog-post-item i {
  color: var(--primary-color);
  margin-right: 4px;
}
.blog-showcase-content ul li span,
.blog-post-item span {
  color: var(--light-gry-clr);
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.blog-post-item p {
  margin-bottom: 1rem;
}
.post-item-img img {
  max-width: 250px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-medium);
}
@media screen and (max-width: 992px) {
  .blogs {
    flex-direction: column;
  }
  .post-item-img img {
    max-width: 100%;
  }
  .header-title .section-title {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .header-title .section-title {
    text-align: center;
    width: 100%;
  }
  .section-header .header-img {
    display: none;
  }
}
@media screen and (max-width: 548px) {
  .blog-showcase-content {
    width: 100%;
  }
}
/*========== CONTACT ========== */
.contact {
  background-image: var(--liner-gradient-red);
}
.contact-wrapper {
  gap: 1rem;
}
.contact .contact-content * {
  color: var(--white-clr);
  margin-bottom: 1rem;
}
.contact .icon {
  color: var(--primary-color);
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--white-clr);
  margin: 0 10px;
}
.contact span a {
  font-size: 1rem;
}
.form {
  background-color: var(--white-clr);
  padding: 4rem 1.5rem;
  border-radius: var(--border-radius-md);
}
.input-group {
  gap: 1rem;
}
.form-input {
  display: block;
  width: 100%;
  color: var(--dark-clr);
  font-size: 0.9rem;
  font-weight: var(--fw-normal);
  letter-spacing: var(--letter-spacing-sm);
  background-color: var(--light-blue-clr);
  padding: 15px 20px;
  margin-bottom: 1.25rem;
  border-radius: var(--border-radius-md);
}
textarea.form-input {
  border-radius: var(--border-radius-sm);
}
.form-input::placeholder {
  color: var(--dark-clr);
  font-size: 0.9rem;
  font-weight: var(--fw-normal);
  letter-spacing: var(--letter-spacing-sm);
}
@media screen and (max-width: 992px) {
  .contact span {
    display: block;
    margin: 1rem 0;
  }
  .contact span .icon {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .input-group {
    flex-direction: column;
    gap: 0;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-wrapper .col-6 {
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  padding: 4rem 0;
  background-color: var(--light-clr-2);
}
.footer .flex-center {
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.footer .col:first-child {
  flex: 2;
}
.footer .col {
  flex: 1;
}
.footer .col .footer-col-header {
  margin-bottom: 1.5rem;
}
.site-footer {
  padding: 10px 0;
  text-align: center;
  background-color: var(--dark-clr);
}
.site-footer p {
  color: var(--light-clr-2);
  font-size: 14px;
}
.footer-col:first-child ul {
  justify-content: flex-start;
  gap: 10px;
}
.footer-col:first-child p {
  line-height: var(--line-height-md);
  margin-bottom: 2rem;
}
.footer-col:first-child ul li {
  width: 40px;
  height: 40px;
  background-image: var(--liner-gradient-red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-lg);
}
.footer-col:first-child ul li a {
  color: var(--primary-color-2);
}
.footer-col:not(:first-child) li {
  margin-bottom: 0.75rem;
}
.footer-col:not(:first-child) li a {
  color: var(--dark-clr);
}
@media screen and (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
  }
}
