/*========== GOOGLE FONTS ========== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*========== CSS VARIEBLE ========== */
:root {
  /*=== COLORS ===*/
  --white-clr: #fff;
  --light-clr: #f8f9fa;
  --light-clr-2: #dad7d7;
  --dark-clr: #212529;
  --dark-blue-clr: #0318ff;
  --primary-color: #fe3f40;
  --primary-color-2: #0d6efd;
  --secondary-color: #fd7e14;

  /* === BOX SHADOW === */
  --box-shadow-light: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  --box-shadow-dark: 0 0 20px 10px rgba(0, 0, 0, 0.3);

  /* === BACK GROUND IMAGE === */
  --liner-gradient-red: linear-gradient(to right, #fe3f40, #fd7e14);

  /*=== FONT FAMILY ===*/
  --FF: "Noto Sans", sans-serif;

  /*=== TRANSITION ===*/
  --trnasition-normal: all 400ms ease;
  --trnasition-slow: all 1500s ease;
}
/*========== RESET ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--dark-clr);
  background-color: var(--white-clr);
  font-family: var(--FF);
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*========== GOOGLE STYLES ========== */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color-2);
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-medium);
}

.text-blue {
  color: var(--primary-color-2);
}
.text-red {
  color: var(--primary-color);
}
/*========== HEADER ========== */
#header {
  background-color: var(--light-clr);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem;
}
.logo {
  color: var(--primary-color-2);
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.scroll-link {
  color: var(--dark-clr);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.1px;
}
.scroll-link:hover {
  color: var(--primary-color);
}
.scroll-link.active {
  color: var(--primary-color);
}
/*  === NAV-TOGGLE === */

.nav-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
  display: block;
  position: relative;
  background-color: var(--dark-clr);
  width: 30px;
  height: 2px;
  border-radius: 5px;
}
.nav-toggle span::before,
.nav-toggle span::after {
  content: "";
  position: absolute;
  transform-origin: center;
  transition: var(--trnasition-normal);
}
.nav-toggle span::before {
  top: -9px;
}
.nav-toggle span::after {
  top: 9px;
}
.nav-toggle.close span {
  visibility: hidden;
}
.nav-toggle.close span::before {
  visibility: visible;
  transform: translateY(9px) rotate(45deg);
}
.nav-toggle.close span::after {
  visibility: visible;
}
.nav-toggle.close span::after {
  visibility: visible;
  transform: translateY(-9px) rotate(-45deg);
}
@media screen and (max-width: 992px) {
  .nav-toggle {
    display: flex;
  }
  #header {
    position: relative;
  }
  .links-container {
    position: absolute;
    background-color: var(--light-clr);
    width: 100%;
    top: 100%;
    left: 0;
    transform-origin: top;
    height: 0;
    overflow: hidden;
    transition: var(--trnasition-normal);
  }
  .nav-links {
    all: unset;
  }
  .nav-links li {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid var(--light-clr-2);
  }
}
/*========== HERO ========== */
#hero {
  padding: 6.25rem 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.hero-content,
.hero-showcase {
  flex: 1;
}
.hero-content {
  animation: slideleft 1.5s 900ms ease;
}
.sub-title {
  display: block;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.title {
  color: var(--dark-clr);
  font-size: 3.25rem;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.25;
  letter-spacing: 1.25px;
  margin-bottom: 1rem;
}
.hero-desc {
  color: var(--dark-clr);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 1rem;
}
.hero-showcase {
  display: flex;
  justify-content: flex-end;
  animation: slideRight 1.5s 900ms ease;
}
.blob {
  position: relative;
  width: 90%;
  height: 400px;
  overflow: hidden;
  animation: animateBlob 5s infinite;
}
.blob img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes animateBlob {
  0%,
  100% {
    top: 0;
    border-radius: 37% 63% 44% 56% / 34% 47% 53% 66%;
  }
  50% {
    top: 1.5rem;
    border-radius: 54% 46% 63% 37% / 61% 70% 30% 39%;
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    gap: 5rem;
  }
  .hero-content {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .blob {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .hero-content {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .title {
    font-size: 2.75rem;
  }
  .blob {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 540px) {
  .blob {
    width: 350px;
    height: 350px;
  }
}
/*========== ABOUT ========== */
.about {
  padding: 6.25rem 0;
  background-image: var(--liner-gradient-red);
}
.about-wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.about-img img {
  width: 120%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.card-icon {
  color: var(--primary-color);
  font-size: 1.75rem;
  background-color: var(--white-clr);
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  color: var(--white-clr);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: normal;
}

.card-desc {
  color: var(--white-clr);
  line-height: 2;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .about {
    background-color: var(--white-clr);
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-img {
    order: 2;
  }
  .cards {
    order: 1;
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 500px;
    background-image: var(--liner-gradient-red);
    padding: 2rem;
    border-radius: 1rem;
  }
}

/*========== SERVICES ========== */
.services {
  padding: 6.25rem 0;
}
.services-wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.services-wrapper > div {
  flex: 1;
}
.section-title {
  color: var(--dark-clr);
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
}
.services-wrapper .desc {
  line-height: 1.5;
}
.services-description {
  margin-bottom: 5rem;
}
.progress-div {
  margin-bottom: 1.5rem;
}
h4 {
  color: var(--dark-clr);
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  margin-bottom: 0.75rem;
}
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: var(--light-clr);
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  .services-wrapper {
    flex-direction: column;
  }
  .services-description {
    text-align: center;
  }
}

/*========== PORTFOLIO ========== */
.portfolio {
  padding: 6.25rem 0;
}
.portfolio .section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto 7rem;
}
.portfolio-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.portfolio-item {
  position: relative;
}
.hidden-content {
  position: absolute;
  color: var(--white-clr);
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 1.5rem;
  padding: 1.5rem;
  z-index: -1;
  transition: all 500ms ease;
}
.hidden-content h4 {
  color: var(--white-clr);
}
.visible-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-clr);
  box-shadow: var(--box-shadow-light);
  transition: all 500ms ease;
  border-radius: 1.5rem;
  padding: 50px;
  transition: all 500ms ease;
  z-index: 9;
}
.visible-content img {
  width: 100px;
}
.portfolio-item:hover .hidden-content {
  z-index: 1;
  transform: translateY(-45%);
}
.portfolio-item:hover .visible-content {
  transform: translateY(45%);
}
@media screen and (max-width: 768px) {
  .portfolio .section-title {
    width: 80%;
  }
}
